main{
    width: 100%;
    margin: 0 auto;
}
h1{
    width: 45%;
    display: block;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #7F9D9D;
}

.holder{
    width: 45%;
    margin: 0 auto;
    text-align: center;
}

button{
    border:none;
    width: 20%;
    height: 1.9em;
    border-radius: 4.43em;
    color: #516365;
    background-color: #EFF5DB;
}
button:active{
    background-color: goldenrod;

}

.resultLibrasGramosCss{
    width: 60%;
    margin: 0.6em auto;
    color:#EE6B61;
    font-size: 3em;
    font-family: Arial, Helvetica, sans-serif;
    
}
.resultKilometrosMillas{
    width: 60%;
    margin: 0.6em auto;
    color:#EE6B61;
    font-size: 3em;
    font-family: Arial, Helvetica, sans-serif;
    
}

input{
    width: 35%;
    text-align: center;
    border-radius: 8px;
    /* border-color: grey; */
    color:white;
    background-color: #7F9D9D;
}

::placeholder{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    opacity:0.5;
}

p{
    width: 90%;
    background-color: #EE6B61;
    opacity: 0.5;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.4em;
    color:white;
    margin: 0 auto;
    /* border-radius: 1.5em; */
    display: none;
}


@media screen and (max-width: 600px){
    main{
        width: 100%;
        margin: 0 auto;
    }
    h1{
        width: 70%;
    }
    input{
        width: 90%;
        text-align: center;
        border-radius: 8px;
        /* border-color: grey; */
        color:white;
        background-color: #7F9D9D;
    }
    button{
        display: block;
        margin: 1em auto;
        border:none;
        width: 55%;
        height: 1.9em;
        border-radius: 4.43m;
        color: #516365;
        background-color: #EFF5DB;
    }

    p{
        width: 120%;
        background-color: #EE6B61;
        opacity: 0.5;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 0.5em;
        color:white;
        margin: 0 -13%;
        display: none;
    }

    .resultLibrasGramosCss{
        width: 60%;
        margin: 0 auto;
        text-align: center;
        color:#EE6B61;
        font-size: 2em;
        font-family: Arial, Helvetica, sans-serif;
        
    }
    .resultKilometrosMillas{
        width: 60%;
        margin: 0 auto;
        text-align: center;
        color:#EE6B61;
        font-size: 2em;
        font-family: Arial, Helvetica, sans-serif;
        
    }
    h3{
        font-size: 1em;
        display: block;
        width: 45%;
        text-align: center;
        
    }
}